.select2-container--default .select2-results>.select2-results__options 
{
    max-height: 280px !important;
}

.select2-dropdown 
{
    z-index: 999999 !important;
}

/*span.select2-search.select2-search--dropdown{
    display:none;
}*/